.container__main--title {
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  font-size: auto;
  text-shadow: navy 1px 1px;
  color: white;
}

.container__main--peregrinos {
  background-image: url("../media/peregrinos2.jpg");
  background-size: cover;
}

.container__main--peregrinosText {
  background-color: rgba(3, 14, 18, 0.7);
  height: 100%;
  padding: 1.875rem;
  -webkit-box-shadow: 20px 0px 20px black;
          box-shadow: 20px 0px 20px black;
  font-size: 16px;
}

.container__testimonies {
  background-color: rgba(150, 41, 41, 0.2);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container__testimonies--title {
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  font-size: auto;
  text-shadow: navy 1px 1px;
  color: white;
}

.container__testimonies--testiMarg {
  padding-top: 12px;
}

.container__testimonies--testBox {
  height: 28rem;
  width: 18.75rem;
  margin-top: 2.5rem;
  background-color: #030e12;
  -webkit-box-shadow: 10px 10px 5px #948752;
          box-shadow: 10px 10px 5px #948752;
}

.container__testimonies--soft {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1rem;
}

.container__testimonies--pTestimony {
  font-family: 'Amatic SC', cursive;
  font-size: 1.56rem;
  font-weight: bold;
  padding: 1rem;
}

.container__table {
  background-color: #5bccf6;
  -webkit-box-shadow: 10px 10px 5px #948752;
          box-shadow: 10px 10px 5px #948752;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

.container__table--title {
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  font-size: auto;
  text-shadow: navy 2px 2px;
  color: white;
  padding-top: 1.5rem;
}

.container__table--titulos {
  background-color: #030e12;
  text-align: center;
}

.container {
  background-color: #fcde67;
}

.container__main {
  background-image: url("../media/backgb.jpg");
  background-size: cover;
  background-position: center;
  height: 38rem;
  width: auto;
}

.container__main--call-to-action {
  background-color: rgba(3, 14, 18, 0.7);
  /*  padding: 1.875rem; */
  padding-left: 1.875rem;
  padding-top: 1rem;
  padding-right: 1.875rem;
}

.container__main--vertCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main--carouselSize {
  max-width: 31.25em;
  max-height: 19.812em;
}

.container {
  background-color: #fcde67;
}

.container__nav {
  background-color: #030e12;
}

.container__nav--brand-font-nav {
  font-family: 'Londrina Shadow', cursive;
  font-style: oblique;
  font-size: 3.125rem;
}

.container__nav--basis {
  padding-left: 5.56rem;
  margin-top: 10px;
  padding-left: 150px;
}

.container__nav--separador {
  margin-bottom: 2.5rem;
}

.separation {
  margin-bottom: 2.5rem;
}

.fader {
  background-color: rgba(150, 41, 41, 0.2);
}

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.wrapper {
  padding-bottom: 90px;
}

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#303133), to(transparent));
  background-image: linear-gradient(to right, transparent, #303133, transparent);
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid #303133;
  border-right: 1px solid #303133;
}

.div-tab-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid #303133;
  border-left: 1px solid #303133;
  border-right: 1px solid #303133;
  border-radius: 0 0 8px 8px;
}

.div-stopper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid #303133;
  border-right: 1px solid #303133;
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid #303133;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
          box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

.container__card {
  border: none;
  padding: 10px 50px;
}

.container__card--title {
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  font-size: auto;
  text-shadow: navy 1px 1px 1px;
  color: white;
}

.container__card--card-color {
  background-color: #5bccf6 !important;
}

.container__card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container__card:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
  background-image: none;
  background-size: auto;
}

.container__card:hover::after {
  opacity: 1;
}

.container__card:hover .btn-outline-primary {
  color: white;
  background: #007bff;
}

.container__form--title {
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  font-size: auto;
  text-shadow: navy 1px 1px 1px;
  color: white;
}

.container__form--shadow {
  -webkit-box-shadow: 10px 10px 5px #948752;
          box-shadow: 10px 10px 5px #948752;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  /* Hide captions class  */
  .carousel-caption {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .textAbout {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .textAbout {
    font-size: 16px;
  }
  .container__nav--basis {
    padding-left: 4.68em;
  }
}

@media screen and (min-width: 578px) and (max-width: 992px) {
  .textAbout {
    font-size: 16px;
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 406px) and (max-width: 471px) {
  .logoResponsive {
    height: 5rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 406px) {
  .logoResponsive {
    height: 50px;
  }
}

@media screen and (min-width: 406px) and (max-width: 440px) {
  .container__nav--brand-font-nav {
    font-size: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 319px) {
  .container__testimonies--pTestimony {
    font-size: 24px;
  }
}

@media screen and (min-width: 0px) and (max-width: 437px) {
  .container__card {
    padding: 0;
  }
  .p-5 {
    padding: 0 !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .testBox {
    height: 29rem;
    width: 16rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .basis {
    padding-left: 5.56rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h2 {
    font-size: 1.375rem;
  }
  .container__main--peregrinosText {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  h2 {
    font-size: 1.43rem;
  }
  .container__main--carouselSize {
    max-width: 22em;
  }
  .container__main--peregrinosText {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 577px) {
  h2 {
    font-size: 20px;
  }
  .container__main--carouselSize {
    max-width: 22em;
  }
  .container__main--peregrinosText {
    font-size: 1em;
  }
}

@media screen and (min-width: 441px) and (max-width: 529px) {
  .container__nav--brand-font-nav {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 406px) and (max-width: 474px) {
  .container__main--carouselSize {
    max-width: 14em;
  }
}

@media screen and (min-width: 367px) and (max-width: 474px) {
  .ceoText {
    font-size: 12px;
    margin-bottom: -40px;
  }
}

@media screen and (min-width: 0px) and (max-width: 367px) {
  .ceoText {
    font-size: 10px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 200px) and (max-width: 405px) {
  .navbar-toggler-icon {
    height: 1em !important;
    width: 1em !important;
  }
  .container__main--carouselSize {
    max-width: 14em;
  }
  .container__nav--brand-font-nav {
    font-size: 1.5rem;
  }
  #barack {
    font-size: 10px;
  }
}

@media screen and (min-width: 200px) and (max-width: 409px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
  .container__main--carouselSize {
    max-width: 12em;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .container__main--peregrinos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */